packages:
  yum:
    postgresql93-devel: []
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: silo.settings
    PYTHONPATH: "./"
  aws:elasticbeanstalk:container:python:
    WSGIPath: silo/wsgi.py
commands:
  "10-chown-app-log":
    command: "touch /opt/python/log/app.log && chmod 666 /opt/python/log/app.log"
